
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Player Stats</span>
            <span class="md-subhead">Player Name : {{username}}</span>
            <span class="md-subhead">Coins       : {{userDetails[0].coins}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
</md-content>